# those are the dependencies required only by chat.py

# openai SDK
openai==1.13.3

# promptflow packages
promptflow[azure]==1.10.1
promptflow-tracing==1.10.1
promptflow-tools==1.4.0
promptflow-evals==0.2.0.dev0

# azure dependencies (for authentication)
azure-core==1.30.1
azure-identity==1.16.1

# utilities
pydantic>=2.6
